<div class="row">
  <div class="col-md-2">
    <div style="margin-top: 1.7rem">Председатель</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="max-width" appearance="fill">
      <input
        [(ngModel)]="comission.chairman"
        [readonly]="!(this.settings$ | async).canEdit"
        matInput
      />
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div style="margin-top: 1.7rem">Заместитель</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="max-width" appearance="fill">
      <input
        [(ngModel)]="comission.substituent"
        [readonly]="!(this.settings$ | async).canEdit"
        matInput
      />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div style="margin-top: 1.7rem">Член комиссии 1</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="max-width" appearance="fill">
      <input
        [(ngModel)]="comission.commission_member1"
        [readonly]="!(this.settings$ | async).canEdit"
        matInput
      />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div style="margin-top: 1.7rem">Член комиссии 2</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="max-width" appearance="fill">
      <input
        [(ngModel)]="comission.commission_member2"
        [readonly]="!(this.settings$ | async).canEdit"
        matInput
      />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div style="margin-top: 1.7rem">Член комиссии 3</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="max-width" appearance="fill">
      <input
        [(ngModel)]="comission.commission_member3"
        [readonly]="!(this.settings$ | async).canEdit"
        matInput
      />
    </mat-form-field>
  </div>
</div>
