table {
    width: 100%;
  }
  
  table >>> .mat-form-field-wrapper {
    padding-bottom: 0rem;
  }
  
  table >>> .mat-column-id {
    min-width: fit-content !important;
    max-width: fit-content !important;
  }
  
  table >>> .mat-form-field-infix {
    padding-top: 0.5rem;
  }
  
  table >>> mat-form-field {
    width: 100%;
  }
  
  table >>> ng-image-slider >>> .main {
    border-radius: 5px;
  }
  
  table >>> th >>> .material-icons {
    position: relative;
    bottom: 1px;
    right: -1px;
  } 
  
  table >>> .ng-image-slider .ng-image-slider-container .main .next {
    position: absolute;
    right: 4px;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    outline: 0;
    width: 20px;
    height: 20px; 
    font-size: 25px;
    line-height: 18px;
    z-index: 8;
    transition: .5s ease-in-out;
    text-align: center;
  }
  
  table >>> .ng-image-slider .ng-image-slider-container .main .prev {
    position: absolute;
    right: 4px;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    outline: 0;
    width: 20px;
    height: 20px;
    font-size: 25px;
    line-height: 18px;
    z-index: 8;
    transition: .5s ease-in-out;
    text-align: center;
  }
  
  table >>> .ng-image-slider >>> .caption {
    display: none;
  }

  table >>> thead {
      display: none;
  }

  mat-dialog-content >>> mat-card {
    margin: .8em;
  }