.filtersAcordion{
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}
.section-check{
  display: flex;
  justify-content: space-evenly;
}
.ng-select.custom ::ng-deep .ng-select-container {
  // min-height: 0px;
  border-radius: 3px;
  padding-left: 10px;
  // overflow: auto;
  // margin-top: 2px;
  min-height: 47px;
  padding-right: 10px;
  background-color: whitesmoke;
}
.ng-select.custom2 ::ng-deep .ng-select-container {
  overflow: auto;
}
.ng-select.custom.ng-select-multiple::ng-deep .ng-select-container .ng-value-container .ng-value{
  background-color: whitesmoke;
  color: black;
  padding: 0%;
  // font-weight: 300;
}
.ng-select.custom.ng-select-multiple::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  color: rgb(255, 5, 5);
  // background-color: whitesmoke;
}
.ng-select.custom.ng-select-multiple::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-label{
  font-weight: initial;
  // background-color: whitesmoke;
}
.ng-select.custom ::ng-deep .ng-select-container .ng-placeholder{
  margin-top: 2px;
  // background-color: antiquewhite;
}
// .mat-form-field-label-wrapper {
//   top: -0.54375em;
//   padding-top: .84375em;
// }
// .mat-form-field-flex {
//   border-radius: 4px 4px 0 0;
//   padding: .30em .75em 0 .75em !important;
//   padding: 0 !important;;
// }
  // .mat-form-field{
    // display: grid !important;
    // width: 100% !important;;
  // }
.labelSpo{
  position: absolute;
  margin-top: -40px;
  margin-left: -9px;
  white-space: nowrap;
}
