<h1 *ngIf="btnOpenExel">Фильтр</h1>
<div class="conteiner filtersAcordion">
  <div class="topBtnFilter">
    <button
      *ngIf="cBtn"
      mat-stroked-button
      class="chDt"
      color="primary"
      (click)="accordion.openAll(); checkBtn()"
    >
      Развернуть все
    </button>
    <button
      *ngIf="!cBtn"
      mat-stroked-button
      class="chDt"
      color="primary"
      (click)="accordion.closeAll(); checkBtn()"
    >
      Свернуть все
    </button>
    <button
      mat-stroked-button
      class="chDt"
      color="primary"
      (click)="saveClientFilters()"
    >
      Сохранить фильтр
    </button>
    <button
      mat-stroked-button
      class="chDt"
      color="primary"
      (click)="resetFilter()"
    >
      Сброс на сохраненные
    </button>
    <button
      mat-stroked-button
      class="chDt"
      color="primary"
      (click)="clearFilter(); setChangeFilters()"
    >
      Очистить поисковые значения
    </button>
    <button mat-stroked-button (click)="closeFilters()">
      Закрыть <mat-icon style="color: red">clear</mat-icon>
    </button>
  </div>
  <mat-accordion
    class="example-headers-align"
    multi
    displayMode="flat"
    togglePosition="before"
  >
    <mat-expansion-panel style="box-shadow: none" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Основной фильтр </mat-panel-title>
        <mat-panel-description>
          <!-- Адрес,категории,управляющая организация -->
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <ng-select
          [items]="this.districts"
          class="custom col-md-12"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="districtName"
          bindValue="districtId"
          placeholder="Район"
          [(ngModel)]="selectedDistricts"
          (change)="selectDistrict(selectedDistricts)"
        >
        </ng-select>
        <div class="row" style="padding-right: 0; margin: 0%">
          <ng-select
            [items]="this.outstreets"
            class="custom col-md-7"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Улица"
            [(ngModel)]="selectedStreet"
            (change)="selectStreet(selectedStreet)"
          >
            <!-- <ng-template ng-header-tmp>
          <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Очистить все</button>
      </ng-template> -->
            <ng-template ng-footer-tmp>
              Выбрано улиц: {{ selectedStreet.length }}
            </ng-template>
          </ng-select>

          <div class="col-sm-5" style="padding: 0%">
            <mat-form-field appearance="fill" style="max-width: 25%">
              <mat-label>Номер</mat-label>
              <input
                matInput
                id="number"
                (change)="setChangeFilters()"
                name="number"
                [(ngModel)]="number"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" style="max-width: 25%">
              <mat-label>Корпус</mat-label>
              <input
                matInput
                id="building"
                name="building"
                (change)="setChangeFilters()"
                [(ngModel)]="building"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" style="max-width: 25%">
              <mat-label>Литера</mat-label>
              <input
                matInput
                id="letter"
                name="letter"
                (change)="setChangeFilters()"
                [(ngModel)]="letter"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" style="max-width: 25%">
              <mat-label>Строение</mat-label>
              <input
                matInput
                id="contruction"
                name="contruction"
                (change)="setChangeFilters()"
                [(ngModel)]="house_construction"
              />
            </mat-form-field>
          </div>
        </div>
        <h4 style="text-align: center">Общие параметры</h4>
        <div class="row col-sm-12" style="padding-right: 0; margin-left: 0">
          <ng-select
            [items]="categories"
            class="custom custom2 col-md-5"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Категория"
            [(ngModel)]="selectedCategories"
            (change)="setChangeFilters()"
          >
          </ng-select>
          <ng-select
          [items]="allowntypes"
          class="custom col-md-3"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="name"
          bindValue="id"
          placeholder="Вид собственности"
          [(ngModel)]="selectedOtypes"
          (change)="setChangeFilters()"
        >
        </ng-select>
          <ng-select
          style="padding-right: 0;"
          [items]="demageType"
          class="custom col-md-4"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="value"
          placeholder="Аварийность"
          [(ngModel)]="failure"
          (change)="setChangeFilters()"
        >
        </ng-select>
        </div>
        <div class="row col-md-12" style="padding-right: 0; margin-left: 0">
          <ng-select
            [items]="this.filters?.management_company"
            class="custom col-md-5"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Управляющая компания"
            [(ngModel)]="selectedCompany"
            (change)="setChangeFilters()"
          >
          </ng-select>
          <ng-select
          [items]="allmtypes"
          class="custom col-md-3"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="name"
          bindValue="id"
          placeholder="Тип управляющей организации"
          [(ngModel)]="selectedMtypes"
          (change)="setChangeFilters()"
        >
        </ng-select>
          <ng-select
          style="padding-right: 0"
          [items]="demageType"
          class="custom col-md-2"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="value"
          placeholder="ОКН"
          [(ngModel)]="culture"
          (change)="setChangeFilters()"
        >
        </ng-select>
          <ng-select
          style="padding-right: 0; padding-left: 10px"
          [items]="demageType"
          class="custom col-md-2"
          [multiple]="false"
          [closeOnSelect]="true"
          bindLabel="name"
          bindValue="value"
          placeholder="Лифты"
          [(ngModel)]="lifts"
          (change)="setChangeFilters()"
        >
        </ng-select>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel style="box-shadow: none">
      <mat-expansion-panel-header>
        <mat-panel-title> Дополнительный фильтр </mat-panel-title>
        <mat-panel-description>
          <!-- Техническое состояние,Инженерные системы... -->
          <!-- <mat-icon>map</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h4>Техническое состояние</h4>
            <ng-select
              [items]="construction_elements"
              class="custom col-md-12"
              [multiple]="false"
              [closeOnSelect]="true"
              bindLabel="structural_element_name"
              bindValue="structural_element_id"
              placeholder="Конструктивный элемент (износ)"
              [(ngModel)]="selectedDefectElements"
              (change)="materialsChange(selectedDefectElements)"
            >
            </ng-select>
            <div>
              <div class="row">
                <mat-form-field appearance="fill" class="col-sm-6">
                  <mat-label>с</mat-label>
                  <input
                    name="filter"
                    placeholder="0%"
                    (change)="setChangeFilters()"
                    [(ngModel)]="damageFrom"
                    id="damageFrom"
                    type="number"
                    matInput
                  />
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-sm-6">
                  <mat-label>по</mat-label>
                  <input
                    name="filter"
                    placeholder="100%"
                    (change)="setChangeFilters()"
                    [(ngModel)]="damageTo"
                    id="damageTo"
                    type="number"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>
            <ng-select
              [items]="this.materialsForConst"
              class="custom col-md-12"
              [multiple]="true"
              [closeOnSelect]="false"
              bindLabel="name"
              bindValue="id"
              placeholder="Материал"
              [(ngModel)]="selectedMaterials"
              (change)="setChangeFilters()"
              [disabled]="onOffselectMaterials || !selectedDefectElements"
            >
            </ng-select>
            <div class="row">
              <ng-select
            style=" padding-left: 10px; padding-right: 5px;"
            [items]="statuses"
            class="custom col-md-6"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="statusName"
            bindValue="statusId"
            placeholder="Статус ТЭП"
            [(ngModel)]="selectedStatuses"
            (change)="setChangeFilters()"
          >
          </ng-select>
                <ng-select
                style="padding-left: 5px;"
              [items]="statuses"
              class="custom col-md-6"
              [multiple]="true"
              [closeOnSelect]="false"
              bindLabel="statusName"
              bindValue="statusId"
              placeholder="Статус акта осмотра"
              [(ngModel)]="selectedDefectRegister"
              (change)="setChangeFilters()"
            >
            </ng-select>
            </div>
          </div>
          <div class="col-sm-4">
            <h4>Инженерные системы</h4>
            <!-- <div class="row"> -->
              <ng-select

              [items]="this.filters.heating_types"
              class="custom col-md-12"
              [multiple]="true"
              [closeOnSelect]="false"
              bindLabel="name"
              bindValue="id"
              placeholder="Отопление"
              [(ngModel)]="selectedHeating"
              (change)="setChangeFilters()"
            >
            </ng-select>
            <ng-select
            [items]="this.filters.hot_water_types"
            class="custom col-md-12"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="ГВС"
            [(ngModel)]="selectedHotWater"
            (change)="setChangeFilters()"
          >
          </ng-select>
            <ng-select
            [items]="this.filters.gas_supply_types"
            class="custom col-md-12"
            [multiple]="true"
            [closeOnSelect]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Газоснабжение"
            [(ngModel)]="selectedGas"
            (change)="setChangeFilters()"
          >
          </ng-select>
            <!-- <mat-form-field appearance="fill" class="col-sm-12">
              <mat-label>Газоснабжение</mat-label>
              <mat-select
                (selectionChange)="setChangeFilters()"
                name="gas_name"
                [(ngModel)]="selectedGas"
                [multiple]="true"
              >
                <mat-option
                  *ngFor="let elem of this.filters?.gas_supply_types"
                  [value]="elem.id"
                >
                  {{ elem.name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <div class="col-sm-12" style="display: flex;">
            <ng-select
            [items]="demageType"
            class="custom col-md-4"
            [multiple]="false"
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="value"
            placeholder="ХВС"
            [(ngModel)]="coldWater"
            (change)="setChangeFilters()"
          >
          </ng-select>
            <ng-select
            style="padding-left: 2px;"
            [items]="demageType"
            class="custom col-md-4"
            [multiple]="false"
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="value"
            placeholder="Эл-во"
            [(ngModel)]="electro"
            (change)="setChangeFilters()"
          >
          </ng-select>
            <ng-select
            style="padding-left: 2px;"
            [items]="demageType"
            class="custom col-md-4"
            [multiple]="false"
            [closeOnSelect]="true"
            bindLabel="name"
            bindValue="value"
            placeholder="Водоотв"
            [(ngModel)]="sewer"
            (change)="setChangeFilters()"
          >
          </ng-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-12">
              <h4>Специальные инженерные системы</h4>
              <div class="row">
                <ng-select
                [items]="demageType"
                class="custom col-md-6"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="name"
                bindValue="value"
                placeholder="АППЗ"
                [(ngModel)]="appz"
                (change)="setChangeFilters()"
              >
              </ng-select>
                <ng-select
                [items]="demageType"
                class="custom col-md-6"
                [multiple]="false"
                [closeOnSelect]="true"
                bindLabel="name"
                bindValue="value"
                placeholder="ПЗУ"
                [(ngModel)]="pzu"
                (change)="setChangeFilters()"
              >
              </ng-select>

              </div>
              <div style="text-align: center">
                <mat-checkbox
                  color="warn"
                  name="archive"
                  [(ngModel)]="archive"
                  (change)="archiveChange($event)"
                  >Архив МКД</mat-checkbox
                >
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-top: 18px">
            <div class="row">
              <h4 class="col-sm-9" style="padding-right: 0">
                Капитальный ремонт
              </h4>

              <div class="col-sm-3" style="padding: 2px 6px 0 0">
                <mat-select
                  matNativeControl
                  (selectionChange)="setChangeFilters()"
                  name="cap_repair"
                  [(ngModel)]="cap_repair"
                >
                  <mat-option
                    *ngFor="let type of this.repairType"
                    [value]="type.value"
                  >
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <ng-select
              [items]="this.capType"
              class="custom col-md-12"
              [multiple]="false"
              [closeOnSelect]="true"
              bindLabel="name"
              bindValue="id"
              placeholder="Вид работ"
              [(ngModel)]="crep"
              (change)="setChangeFilters()"
            >
            </ng-select>

            <div class="row">
              <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>с</mat-label>
                <input
                  name="filter"
                  placeholder="0"
                  (change)="this.setChangeFilters()"
                  [(ngModel)]="crepFrom"
                  id="crepFrom"
                  type="number"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>по</mat-label>
                <input
                  name="filter"
                  placeholder="100"
                  (change)="this.setChangeFilters()"
                  [(ngModel)]="crepTo"
                  id="crepTo"
                  type="number"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6" style="padding-top: 18px">
            <div class="row">
              <h4 class="col-sm-9" style="padding-right: 0">Текущий ремонт</h4>
              <div class="col-sm-3" style="padding: 2px 6px 0 0">
                <mat-select
                  matNativeControl
                  (selectionChange)="setChangeFilters()"
                  name="curr_repair"
                  [(ngModel)]="curr_repair"
                >
                  <mat-option
                    *ngFor="let type of this.repairType"
                    [value]="type.value"
                  >
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <ng-select
              [items]="this.currType"
              class="custom col-md-12"
              [multiple]="false"
              [closeOnSelect]="true"
              bindLabel="name"
              bindValue="id"
              placeholder="Вид работ"
              [(ngModel)]="trep"
              (change)="setChangeFilters()"
            >
            </ng-select>

            <div class="row">
              <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>с</mat-label>
                <input
                  name="filter"
                  placeholder="0"
                  (change)="this.setChangeFilters()"
                  [(ngModel)]="trepFrom"
                  id="trepFrom"
                  type="number"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-6">
                <mat-label>по</mat-label>
                <input
                  name="filter"
                  placeholder="100"
                  (change)="this.setChangeFilters()"
                  [(ngModel)]="trepTo"
                  id="trepTo"
                  type="number"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-12" style="padding-top: 18px">
            <h4>Общие</h4>
            <div class="row">
              <mat-form-field appearance="fill" class="col-sm-4">
                <mat-label>Серия, тип проекта</mat-label>
                <input
                  matInput
                  id="series"
                  name="series"
                  [(ngModel)]="series"
                  (change)="this.setChangeFilters()"
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-2">
                <label class="labelSpo">Этажность</label>
                <mat-label>с</mat-label>
                <input
                  (change)="this.setChangeFilters()"
                  name="filter"
                  placeholder="0"
                  [(ngModel)]="storeysFrom"
                  id="storeysFrom"
                  type="number"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-2">
                <mat-label>по</mat-label>
                <input
                  name="filter"
                  placeholder="100"
                  [(ngModel)]="storeysTo"
                  (change)="this.setChangeFilters()"
                  id="storeysTo"
                  type="number"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="row" style="padding-top: 15px">
              <mat-form-field appearance="fill" class="col-sm-2">
                <label class="labelSpo">Год постройки </label>
                <mat-label>с</mat-label>
                <input
                  (change)="this.setChangeFilters()"
                  name="filter"
                  [(ngModel)]="buildFrom"
                  id="buildFrom"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-2">
                <mat-label>по</mat-label>
                <input
                  name="filter"
                  [(ngModel)]="buildTo"
                  (change)="this.setChangeFilters()"
                  id="buildTo"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-2">
                <label class="labelSpo">Год реконструкции </label>
                <mat-label>с</mat-label>
                <input
                  (change)="this.setChangeFilters()"
                  name="filter"
                  [(ngModel)]="rbuildFrom"
                  id="rbuildFrom"
                  matInput
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="col-sm-2">
                <mat-label>по</mat-label>
                <input
                  (change)="this.setChangeFilters()"
                  name="filter"
                  [(ngModel)]="rbuildTo"
                  id="rbuildTo"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel style="box-shadow: none">
      <mat-expansion-panel-header>
        <mat-panel-title> Отображаемые колонки </mat-panel-title>
        <mat-panel-description>
          <!-- Добавляет или удаляет колонки в таблице -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <ng-select
          [items]="this.columsListView"
          class="custom col-md-12"
          [multiple]="true"
          [closeOnSelect]="false"
          bindLabel="value"
          bindValue="id"
          placeholder="Отображаемые колонки"
          [(ngModel)]="columsSelectView"
          (change)="setColumsView($event)"
        >
        </ng-select>
      </div>
      <!-- <mat-datepicker #picker></mat-datepicker> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
