.filtersAcordion{
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}

  // .mat-form-field{
    // display: grid !important;
    // width: 100% !important;;
  // }

