<div class="container">
  <!-- <p>{{openCloseFilters}}</p> -->
  <!-- <form> -->
    <div class="panel panel-border-color panel-border-color-info">
      <button (click)="saveFilter()" mat-raised-button color="primary">
        Сохранить фильтр
      </button>
      <button (click)="clearFilter()" mat-raised-button color="primary">
        Сброс на сохраненные
      </button>
      <!-- <p>{{filters}}</p> -->
      <div id="accordionMain">
        <div class="card">
          <div id="headingOne" class="card-header">
            <button
            (click)="filterButtonGroup = !filterButtonGroup"
            data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
              class="btn"
              >
              <span class="icon s7-angle-right"> </span>Основной фильтр
            </button>
            <div *ngIf="filterButtonGroup" class="button-group" >

            </div>
          </div>
          <div
            id="collapseOne"
            aria-labelledby="headingOne"
            data-parent="#accordionMain"
            class="collapse show"
          >
            <div class="panel panel-default panel-nomargin">
              <div class="container">
                <h4>Адрес</h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Район</mat-label>
                      <mat-select
                        (selectionChange)="districtChange($event)"
                        name="districts"
                        [multiple]="true"
                        [(ngModel)]="selectedDistricts"
                      >
                        <mat-option
                          *ngFor="let district of this.filters?.districts"
                          [value]="district.districtId"
                        >
                          {{ district.districtName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-sm-4">
                    <ng-select
                      [virtualScroll]="true"
                      [items]="this.allstreets"
                      [(ngModel)]="selectedStreet"
                      name="selectedStreet"
                      placeholder="Улица (Выбрано: {{
                        selectedStreet ? selectedStreet.length : '0'
                      }})"
                      [multiple]="true"
                      (change)="streetChange($event)"
                      bindValue="id"
                      bindLabel="name"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <mat-checkbox
                          [checked]="
                            this.selectedStreet.indexOf(item$.value.id) > -1
                          "
                          >{{ item.name }}</mat-checkbox
                        >
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field appearance="fill">
                      <mat-label>Номер</mat-label>
                      <input
                        matInput
                        id="number"
                        name="number"
                        (change)="this.loadTepPage()"
                        [(ngModel)]="number"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field appearance="fill">
                      <mat-label>Корпус</mat-label>
                      <input
                        matInput
                        id="building"
                        name="building"
                        (change)="this.loadTepPage()"
                        [(ngModel)]="building"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field appearance="fill">
                      <mat-label>Литера</mat-label>
                      <input
                        matInput
                        id="letter"
                        name="letter"
                        (change)="this.loadTepPage()"
                        [(ngModel)]="letter"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-1">
                    <mat-form-field appearance="fill">
                      <mat-label>Строение</mat-label>
                      <input
                        matInput
                        id="contruction"
                        name="contruction"
                        (change)="this.loadTepPage()"
                        [(ngModel)]="house_construction"
                      />
                    </mat-form-field>
                  </div>
                </div> -->
                <!-- <h4>Общие параметры</h4>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-8">
                    <mat-form-field appearance="fill">
                      <mat-label>Категория</mat-label>
                      <mat-select
                        [multiple]="true"
                        (selectionChange)="catyChange($event)"
                        name="categories"
                        [(ngModel)]="selectedCategories"
                      >
                        <mat-option
                          *ngFor="let category of this.filters?.categories"
                          [value]="category.id"
                        >
                          {{ category.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4" style="text-align: end">
                    <div class="row">
                      <div class="col-sm-4">Аварийность</div>
                      <div class="col-sm-8">
                        <mat-radio-group
                          name="failure"
                          (change)="failureChange($event)"
                          [value]="this.failure"
                        >
                          <mat-radio-button value="null">Выкл</mat-radio-button>
                          <mat-radio-button value="true">Да</mat-radio-button>
                          <mat-radio-button value="false">Нет</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">ОКН</div>
                      <div class="col-sm-8">
                        <mat-radio-group
                          name="okn"
                          (change)="oknChange($event)"
                          [value]="culture"
                        >
                          <mat-radio-button value="null">Выкл</mat-radio-button>
                          <mat-radio-button value="true">Да</mat-radio-button>
                          <mat-radio-button value="false">Нет</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">Лифты</div>
                      <div class="col-sm-8">
                        <mat-radio-group
                          name="lift"
                          (change)="liftChange($event)"
                          [value]="lifts"
                        >
                          <mat-radio-button value="null">Выкл</mat-radio-button>
                          <mat-radio-button value="true">Да</mat-radio-button>
                          <mat-radio-button value="false">Нет</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Тип управляющей организации</mat-label>
                      <mat-select
                        [multiple]="true"
                        (selectionChange)="mtypeChange($event)"
                        name="mtype"
                        [(ngModel)]="selectedMtypes"
                      >
                        <mat-option
                          *ngFor="let mtype of this.allmtypes"
                          [value]="mtype.id"
                        >
                          {{ mtype.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Вид собственности</mat-label>
                      <mat-select
                        [multiple]="true"
                        (selectionChange)="otypeChange($event)"
                        name="otype"
                        [(ngModel)]="selectedOtypes"
                      >
                        <mat-option
                          *ngFor="let owntype of this.allowntypes"
                          [value]="owntype.id"
                        >
                          {{ owntype.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                    <ng-select
                      [virtualScroll]="true"
                      [items]="this.filters?.management_company"
                      [(ngModel)]="selectedCompany"
                      name="selectedCompany"
                      placeholder="Управляющая компания (Выбрано: {{
                        selectedCompany ? selectedCompany.length : '0'
                      }})"
                      [multiple]="true"
                      (change)="companyChange($event)"
                      bindValue="id"
                      bindLabel="name"
                    >
                      <ng-template
                        ng-option-tmp
                        let-item="item"
                        let-item$="item$"
                        let-index="index"
                      >
                        <mat-checkbox
                          [checked]="
                            this.selectedCompany.indexOf(item$.value.id) > -1
                          "
                          >{{ item.name }}</mat-checkbox
                        >
                      </ng-template>
                    </ng-select>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="accordionAdditional">
        <div class="card">
          <div id="headingSecond" class="card-header">
            <button
              data-toggle="collapse"
              data-target="#collapseSecond"
              aria-expanded="false"
              aria-controls="collapseSecond"
              class="btn"
            >
              <span class="icon s7-angle-right"> </span>Дополнительные фильтры
            </button>
          </div>
          <div
            id="collapseSecond"
            aria-labelledby="headingOne"
            data-parent="#accordionAdditional"
            class="collapse"
          >
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <h4>Техническое состояние</h4>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Конструктивный элемент (износ)</mat-label>
                        <mat-select
                          (selectionChange)="constrChange($event)"
                          name="construction_elements"
                          [(ngModel)]="selectedDefectElements"
                        >
                          <cdk-virtual-scroll-viewport
                            [itemSize]="18"
                            [style.height.px]="5 * 48"
                          >
                            <mat-option
                              *cdkVirtualFor="
                                let ce of this.filters?.construction_elements
                              "
                              [value]="ce.structural_element_name"
                            >
                              {{ ce.structural_element_name }}
                            </mat-option>
                          </cdk-virtual-scroll-viewport>
                        </mat-select>
                        <button
                          mat-button
                          *ngIf="selectedDefectElements"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="
                            selectedDefectElements = undefined;
                            constrChange($event);
                            $event.stopPropagation()
                          "
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          name="filter"
                          placeholder="0"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="damageFrom"
                          id="damageFrom"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          name="filter"
                          placeholder="100"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="damageTo"
                          id="damageTo"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Материал</mat-label>
                        <mat-select
                          (selectionChange)="materialChange($event)"
                          name="materials"
                          [(ngModel)]="selectedMaterials"
                          [multiple]="true"
                          [disabled]="
                            onOffselectMaterials || !selectedDefectElements
                          "
                        >
                          <mat-option
                            *ngFor="let elem of this.materialsForConst"
                            [value]="elem.id"
                          >
                            {{ elem.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Статус ТЭП</mat-label>
                        <mat-select
                          (selectionChange)="statusChange($event)"
                          [(ngModel)]="selectedStatuses"
                          name="statuses"
                          #statuses
                          [multiple]="true"
                        >
                          <mat-option
                            *ngFor="let elem of this.filters?.statuses"
                            [value]="elem.statusId"
                          >
                            {{ elem.statusName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Статус акта осмотра</mat-label>
                        <mat-select
                          (selectionChange)="statusDefectRegisterChange($event)"
                          [(ngModel)]="selectedDefectRegister"
                          name="statusesOfAct"
                          #statusesOfAct
                          [multiple]="true"
                        >
                          <mat-option
                            *ngFor="let elem of this.filters?.statuses"
                            [value]="elem.statusId"
                          >
                            {{ elem.statusName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h4>Инженерные системы</h4>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Отопление</mat-label>
                        <mat-select
                          (selectionChange)="heatChange($event)"
                          name="heating"
                          [(ngModel)]="selectedHeating"
                          [multiple]="true"
                        >
                          <mat-option
                            *ngFor="let elem of this.filters?.heating_types"
                            [value]="elem.id"
                          >
                            {{ elem.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>ГВС</mat-label>
                        <mat-select
                          (selectionChange)="hotWaterChange($event)"
                          name="hotWater"
                          [(ngModel)]="selectedHotWater"
                          [multiple]="true"
                        >
                          <mat-option
                            *ngFor="let elem of this.filters?.hot_water_types"
                            [value]="elem.id"
                          >
                            {{ elem.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Газоснабжение</mat-label>
                        <mat-select
                          (selectionChange)="gasChange($event)"
                          name="gas_name"
                          [(ngModel)]="selectedGas"
                          [multiple]="true"
                        >
                          <mat-option
                            *ngFor="let elem of this.filters?.gas_supply_types"
                            [value]="elem.id"
                          >
                            {{ elem.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" style="text-align: end">
                    <div class="col-sm-4">ХВС</div>
                    <div class="col-sm-8">
                      <mat-radio-group
                        name="coldwater"
                        (change)="coldWaterChange($event)"
                        [value]="coldWater"
                      >
                        <mat-radio-button value="null">Выкл</mat-radio-button>
                        <mat-radio-button value="true">Да</mat-radio-button>
                        <mat-radio-button value="false">Нет</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="row" style="text-align: end">
                    <div class="col-sm-4">Эл-во</div>
                    <div class="col-sm-8">
                      <mat-radio-group
                        name="electro"
                        (change)="electroChange($event)"
                        [value]="this.electro"
                      >
                        <mat-radio-button value="null">Выкл</mat-radio-button>
                        <mat-radio-button value="true">Да</mat-radio-button>
                        <mat-radio-button value="false">Нет</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="row" style="text-align: end">
                    <div class="col-sm-4">Водоотв</div>
                    <div class="col-sm-8">
                      <mat-radio-group
                        name="sewer"
                        (change)="sewerChange($event)"
                        [value]="this.sewer"
                        [disabled]="true"
                      >
                        <mat-radio-button value="null">Выкл</mat-radio-button>
                        <mat-radio-button value="true">Да</mat-radio-button>
                        <mat-radio-button value="false">Нет</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h4>Общие</h4>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Серия, тип проекта</mat-label>
                        <input
                          matInput
                          id="series"
                          name="series"
                          [(ngModel)]="series"
                          (change)="this.loadTepPage()"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <label>Этажность</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          (change)="this.loadTepPage()"
                          name="filter"
                          placeholder="0"
                          [(ngModel)]="storeysFrom"
                          id="storeysFrom"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          name="filter"
                          placeholder="100"
                          [(ngModel)]="storeysTo"
                          (change)="this.loadTepPage()"
                          id="storeysTo"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <label>Год постройки </label>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          [textMask]="{ mask: yearMask }"
                          (change)="this.loadTepPage()"
                          name="filter"
                          [(ngModel)]="buildFrom"
                          id="buildFrom"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          [textMask]="{ mask: yearMask }"
                          name="filter"
                          [(ngModel)]="buildTo"
                          (change)="this.loadTepPage()"
                          id="buildTo"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <label>Год реконструкции </label>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          [textMask]="{ mask: yearMask }"
                          (change)="this.loadTepPage()"
                          name="filter"
                          [(ngModel)]="rbuildFrom"
                          id="rbuildFrom"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          [textMask]="{ mask: yearMask }"
                          (change)="this.loadTepPage()"
                          name="filter"
                          [(ngModel)]="rbuildTo"
                          id="rbuildTo"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h4>Капитальный ремонт</h4>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Вид работ</mat-label>
                        <mat-select
                          (selectionChange)="crepChange($event)"
                          name="crep"
                          [(ngModel)]="crep"
                          #multiSelect
                        >
                          <mat-option>
                            <ngx-mat-select-search
                              placeholderLabel="Поиск"
                              noEntriesFoundLabel="Ничего не найдено"
                              [formControl]="workControl2"
                            ></ngx-mat-select-search>
                          </mat-option>
                          <cdk-virtual-scroll-viewport
                            [itemSize]="18"
                            [style.height.px]="5 * 38"
                          >
                            <mat-option>Не выбрано</mat-option>
                            <mat-option
                              *cdkVirtualFor="
                                let option of filteredOptions2 | async
                              "
                              [value]="option.id"
                            >
                              {{ option.name }}
                            </mat-option>
                          </cdk-virtual-scroll-viewport>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          name="filter"
                          placeholder="0"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="crepFrom"
                          id="crepFrom"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          name="filter"
                          placeholder="100"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="crepTo"
                          id="crepTo"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <mat-radio-group
                      name="cap_repair"
                      (change)="crepTypeChange($event)"
                      [value]="cap_repair"
                    >
                      <mat-radio-button value="null">Выкл</mat-radio-button>
                      <mat-radio-button value="'rp', 'kp'"
                        >План</mat-radio-button
                      >
                      <mat-radio-button value="'fact'">Факт</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h4>Специальные инженерные системы</h4>
                  <mat-divider></mat-divider>
                  <div class="row" style="text-align: end">
                    <div class="col-sm-4">АППЗ</div>
                    <div class="col-sm-8">
                      <mat-radio-group
                        name="appz"
                        (change)="appzChange($event)"
                        [value]="this.appz"
                      >
                        <mat-radio-button value="null">Выкл</mat-radio-button>
                        <mat-radio-button value="true">Да</mat-radio-button>
                        <mat-radio-button value="false">Нет</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <div class="row" style="text-align: end">
                    <div class="col-sm-4">ПЗУ</div>
                    <div class="col-sm-8">
                      <mat-radio-group
                        name="pzu"
                        (change)="pzuChange($event)"
                        [value]="this.pzu"
                      >
                        <mat-radio-button value="null">Выкл</mat-radio-button>
                        <mat-radio-button value="true">Да</mat-radio-button>
                        <mat-radio-button value="false">Нет</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <mat-checkbox name="archive" (change)="archiveChange($event)"
                    >Архив МКД</mat-checkbox
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h4>Текущий ремонт</h4>
                  <mat-divider></mat-divider>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field appearance="fill">
                        <mat-label>Вид работ</mat-label>
                        <mat-select
                          (selectionChange)="trepChange($event)"
                          name="trep"
                          [(ngModel)]="trep"
                          #multiSelect
                        >
                          <mat-option>
                            <ngx-mat-select-search
                              placeholderLabel="Поиск"
                              noEntriesFoundLabel="Ничего не найдено"
                              [formControl]="workControl1"
                            ></ngx-mat-select-search>
                          </mat-option>
                          <cdk-virtual-scroll-viewport
                            [itemSize]="18"
                            [style.height.px]="5 * 38"
                          >
                            <mat-option>Не выбрано</mat-option>
                            <mat-option
                              *cdkVirtualFor="
                                let option of filteredOptions1 | async
                              "
                              [value]="option.id"
                            >
                              {{ option.name }}
                            </mat-option>
                          </cdk-virtual-scroll-viewport>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>с</mat-label>
                        <input
                          name="filter"
                          placeholder="0"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="trepFrom"
                          id="trepFrom"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field appearance="fill">
                        <mat-label>по</mat-label>
                        <input
                          name="filter"
                          placeholder="100"
                          (change)="this.loadTepPage()"
                          [(ngModel)]="trepTo"
                          id="trepTo"
                          type="number"
                          matInput
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <mat-radio-group
                      name="curr_repair"
                      (change)="trepTypeChange($event)"
                      [value]="curr_repair"
                    >
                      <mat-radio-button value="null">Выкл</mat-radio-button>
                      <mat-radio-button value="act">Акт</mat-radio-button>
                      <mat-radio-button value="p">План</mat-radio-button>
                      <mat-radio-button value="f">Факт</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="accordionColumns">
        <div class="card">
          <div id="headingThree" class="card-header">
            <button
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
              class="btn"
            >
              <span class="icon s7-angle-right"> </span>Отображаемые колонки
            </button>
          </div>
          <div
            id="collapseThree"
            aria-labelledby="headingThree"
            data-parent="#accordionColumns"
            class="collapse"
          >
            <div
              class="panel panel-default panel-nomargin"
              style="margin-top: 29px"
            >
              <div class="panel-body">
                <div class="row">
                  <ng-container *ngFor="let elem of colViewer; let i = index">
                    <div class="form-group col-md-3">
                      <mat-checkbox
                        [checked]="
                          isDisplayedColumn(elem.id.replace('show_', ''))
                        "
                        [id]="elem.id"
                        [name]="elem.id"
                        (change)="viewColumnsChange(elem.id, $event)"
                        >{{ i + 1 }}. {{ elem.value }}</mat-checkbox
                      >
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  <!-- </form> -->
</div>

<!-- <app-tepdelete
  [selected_id]="this.canEditRow$ | async"
  (notify)="onNotify($event)"
></app-tepdelete> -->

