<div class="conteiner filtersAcordion">
  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Свернуть все</button>
    <button mat-button (click)="accordion.closeAll()">Развернуть все</button>
      <button mat-button (click)="saveFilter()">
        Сохранить фильтр
      </button>
      <button mat-button (click)="clearFilter()">
        Сброс поисковых значений
      </button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Основной фильтр </mat-panel-title>
        <mat-panel-description>
          <!-- Адрес,категории,управляющая организация -->
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <div class="col-md-12"> -->
      <mat-select-autocomplete
        class="grid-7-11 col-md-12"
        [selectPlaceholder]="'поиск...'"
        [appearance]="'fill'"
        [placeholder]="'Район'"
        [errorMsg]="errorMessage"
        [showErrorMsg]="showError"
        [options]="this.filters?.districts"
        [display]="'districtName'"
        [value]="'districtId'"
        [multiple]="true"
        [labelCount]="6"
        [selectedOptions]="selectedOptions"
        (selectionChange)="getSelectedOptions($event)"
        style="display: inline-grid; padding-right: 20px;"
      >
      </mat-select-autocomplete>
      <!-- <mat-form-field
        appearance="fill"
        class="col-md-12"
        style="max-width: 1215px"
      >
        <mat-label>Район</mat-label>
        <mat-select [formControl]="districts" multiple>
          <mat-option
            *ngFor="let district of this.filters?.districts"
            [value]="district.districtId"
          >
            {{ district.districtName }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <!-- <mat-select-autocomplete
        class="grid-7-11"
        [placeholder]="'Options Selection'"
        [errorMsg]="errorMessage"
        [showErrorMsg]="showError"
        [options]="this.filters?.districts"
        [display]="'display'"
        [value]="'value'"
        [multiple]="true"
        [labelCount]="2"
        [selectedOptions]="selectedOptions"
        (selectionChange)="getSelectedOptions($event)"
      >
      </mat-select-autocomplete> -->
      <!-- <div class="container">
        <div class="toggling-container">
          <button
            mat-raised-button
            (click)="onToggleDropdown()"
            color="primary"
          >
            открыть
          </button>
          <button
            style="margin-left: 1rem"
            mat-raised-button
            (click)="onResetSelection()"
            color="primary"
          >
            Сброс
          </button>
        </div>
      </div> -->
        <!-- [showErrorMsg]="showError"  показывать ли сообщение об ошибке или нет. По умолчанию: false; -->

        <!-- <mat-select-autocomplete
          class="grid-7-11 col-md-12"
          [selectPlaceholder]="'поиск...'"
          [appearance]="'fill'"
          [placeholder]="'Район'"
          [errorMsg]="errorMessage"
          [showErrorMsg]="showError"
          [options]="this.filters?.districts"
          [display]="'districtName'"
          [value]="'districtId'"
          [multiple]="true"
          [labelCount]="4"
          [selectedOptions]="selectedOptions"
          (selectionChange)="getSelectedOptions($event)"
        >
        </mat-select-autocomplete> -->
<!--
        <div>
          Selected options are:
          <span *ngFor="let option of selected; let index = index"
            >{{ option
            }}<span *ngIf="index !== selectedOptions.length - 1">, </span></span
          >
        </div> -->
      <!-- </div> -->
      <div class="row col-md-12" style="padding-right: 0;">
        <mat-select-autocomplete
          class="grid-7-11 col-md-6"
          [selectPlaceholder]="'поиск...'"
          [appearance]="'fill'"
          [placeholder]="'Улица'"
          [errorMsg]="errorMessage"
          [showErrorMsg]="showError"
          [options]="this.allstreets"
          [display]="'name'"
          [value]="'id'"
          [multiple]="true"
          [labelCount]="2"
          [selectedOptions]="selectedOptions"
          (selectionChange)="getSelectedOptions($event)"
          style="display: inline-grid;"
        >
        </mat-select-autocomplete>
        <!-- <mat-form-field appearance="fill" class="col-md-6">
          <mat-label>Улица</mat-label>
          <mat-select [formControl]="streets" multiple>
            <mat-option
              *ngFor="let streets of this.allstreets"
              [value]="streets.id"
            >
              {{ streets.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <div class="col-md-6">
          <mat-form-field appearance="fill" style="max-width: 25%">
            <mat-label>Номер</mat-label>
            <input matInput id="number" name="number" [(ngModel)]="number" />
          </mat-form-field>

          <mat-form-field appearance="fill" style="max-width: 25%">
            <mat-label>Корпус</mat-label>
            <input
              matInput
              id="building"
              name="building"
              [(ngModel)]="building"
            />
          </mat-form-field>

          <mat-form-field appearance="fill" style="max-width: 25%">
            <mat-label>Литера</mat-label>
            <input matInput id="letter" name="letter" [(ngModel)]="letter" />
          </mat-form-field>

          <mat-form-field appearance="fill" style="max-width: 25%">
            <mat-label>Строение</mat-label>
            <input
              matInput
              id="contruction"
              name="contruction"
              [(ngModel)]="house_construction"
            />
          </mat-form-field>
        </div>
        <h4 style="text-align: center">Общие параметры</h4>
        <!-- <mat-divider></mat-divider> -->
        <div class="row col-md-12" style="padding-right: 0;">
        <!-- <div class="col-md-8"> -->
          <mat-form-field appearance="fill" class="col-md-5">
            <mat-label>Категория</mat-label>
            <mat-select
              [multiple]="true"
              (selectionChange)="catyChange($event)"
              name="categories"
              [(ngModel)]="selectedCategories"
            >
              <mat-option
                *ngFor="let category of this.filters?.categories"
                [value]="category.id"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <!-- </div> -->

        <!-- <div class="col-md-4"> -->
          <mat-form-field appearance="fill" class="col-md-3">
            <mat-label>Вид собственности</mat-label>
            <mat-select
              [multiple]="true"
              (selectionChange)="otypeChange($event)"
              name="otype"
              [(ngModel)]="selectedOtypes"
            >
              <mat-option
                *ngFor="let owntype of this.allowntypes"
                [value]="owntype.id"
                >
                {{ owntype.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
          <mat-form-field appearance="fill" class="col-md-4" style="padding-right: 0">
            <mat-label>Аварийность</mat-label>
            <mat-select
              matNativeControl
              (selectionChange)="failureChange($event)"
              name="failure"
              [(ngModel)]="selectedOtypes"
            >
              <mat-option
                *ngFor="let type of this.demageType"
                [value]="type.value"
              >
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row col-md-12" style="padding-right: 0">
          <mat-select-autocomplete
          class="grid-7-11 col-md-5"
          [selectPlaceholder]="'поиск...'"
          [appearance]="'fill'"
          [placeholder]="'Управляющая компания'"
          [errorMsg]="errorMessage"
          [showErrorMsg]="showError"
          [options]="this.filters?.management_company"
          [display]="'name'"
          [value]="'id'"
          [multiple]="true"
          [labelCount]="2"
          [selectedOptions]="selectedOptions"
          (selectionChange)="getSelectedOptions($event)"
          style="display: inline-grid;"
          >
        </mat-select-autocomplete>
        <div class="col-md-3">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Тип управляющей организации</mat-label>
            <mat-select
            [multiple]="true"
            (selectionChange)="mtypeChange($event)"
            name="mtype"
            [(ngModel)]="selectedMtypes"
            >
            <mat-option
            *ngFor="let mtype of this.allmtypes"
            [value]="mtype.id"
            >
            {{ mtype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="col-md-2" style="padding-right: 0" >
      <mat-label>ОКН</mat-label>
      <mat-select
      matNativeControl
        [(ngModel)]="selectedOtypes"
        name="okn"
        (selectionChange)="oknChange($event)"
        [value]="culture"
      >
        <mat-option
          *ngFor="let type of this.demageType"
          [value]="type.value"
        >
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-md-2" style="padding-right: 0">
      <mat-label>Лифты</mat-label>
      <mat-select
      matNativeControl
      name="lift"
      (selectionChange)="liftChange($event)"
      [value]="lifts"
        [(ngModel)]="selectedOtypes"
      >
        <mat-option
          *ngFor="let type of this.demageType"
          [value]="type.value"
        >
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<!-- <div class="col-sm-4" style="text-align: end">
  <div class="row">
    <div class="col-sm-4">Аварийность</div>
    <div class="col-sm-8">
      <mat-radio-group
        name="failure"
        (change)="failureChange($event)"
        [value]="this.failure"
      >
        <mat-radio-button value="null">Выкл</mat-radio-button>
        <mat-radio-button value="true">Да</mat-radio-button>
        <mat-radio-button value="false">Нет</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">ОКН</div>
    <div class="col-sm-8">
      <mat-radio-group
        name="okn"
        (change)="oknChange($event)"
        [value]="culture"
      >
        <mat-radio-button value="null">Выкл</mat-radio-button>
        <mat-radio-button value="true">Да</mat-radio-button>
        <mat-radio-button value="false">Нет</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">Лифты</div>
    <div class="col-sm-8">
      <mat-radio-group
        name="lift"
        (change)="liftChange($event)"
        [value]="lifts"
      >
        <mat-radio-button value="null">Выкл</mat-radio-button>
        <mat-radio-button value="true">Да</mat-radio-button>
        <mat-radio-button value="false">Нет</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div> -->

      <!-- <div class="col-sm-4">
        <ng-select
          [virtualScroll]="true"
          [items]="this.filters?.management_company"
          [(ngModel)]="selectedCompany"
          name="selectedCompany"
          placeholder="Управляющая компания (Выбрано: {{
            selectedCompany ? selectedCompany.length : '0'
          }})"
          [multiple]="true"
          (change)="companyChange($event)"
          bindValue="id"
          bindLabel="name"
        >
          <ng-template
            ng-option-tmp
            let-item="item"
            let-item$="item$"
            let-index="index"
          >
            <mat-checkbox
              [checked]="
                this.selectedCompany.indexOf(item$.value.id) > -1
              "
              >{{ item.name }}</mat-checkbox
            >
          </ng-template>
        </ng-select>
      </div> -->


        <!-- </div> -->
        <!-- <mat-form-field appearance="fill">
      <mat-label>Дом</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дом</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дом</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дом</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field> -->
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Дополнительный фильтр </mat-panel-title>
        <mat-panel-description>
          Техническое состояние,Инженерные системы...
          <!-- <mat-icon>map</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Отображаемые колонки </mat-panel-title>
        <mat-panel-description>
          Добавляет или удаляет колонки в таблице
          <!-- <mat-icon>date_range</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (focus)="picker.open()"
          readonly
        />
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
  </mat-accordion>
</div>
