<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div [className]="imageObject.length != 0 ? 'col-md-9' : 'col-md-12'">
          <div class="row">
            <div class="col-md-9">
              <span>ТЭП МКД</span>
              <div class="form-group" *ngIf="this.house_info">
                <div class="dropdown status-mkd">
                  <!-- <button
                    type="button"
                    class="btn btn-space btn-secondary btn-xs dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    <i class="icon icon-left s7-config"></i>
                    Текущий статус ТЭП:
                    {{ this.house_info.current_status.status_name }}
                  </button> -->
                  <!-- <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      [routerLink]=""
                      (click)="setStatus(status.status_id, status.status_name)"
                      *ngFor="let status of this.statuses"
                    >
                      {{ status.status_name }}
                    </a>
                  </div> -->
                  <mat-form-field appearance="outline">
                    <mat-label>Текущий статус ТЭП</mat-label>
                    <mat-select
                      [disabled]="permission"
                      [value]="this.house_info.current_status.status_id"
                      (selectionChange)="setStatus($event.value)"
                    >
                      <mat-option
                        *ngFor="let status of this.statuses"
                        [value]="status.status_id"
                      >
                        {{ status.status_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-3" *ngIf="this.house_info">
              <span
                *ngIf="
                  this.house_info.current_status.actual_defect_status === 6
                "
                class="title"
                [ngStyle]="{ float: imageObject.length > 0 ? 'left' : 'right' }"
                >Износ: {{ this.house_info.total_damage }} %</span
              >
              <!-- <span class="panel-subtitle"> <span style="color: #000; font-weight: 600;"> Физический износ: </span><span [ngClass]="{ 'badge badge-danger' : this.house_info.total_damage > 30, 'badge badge-warning' : this.house_info.total_damage > 20 && this.house_info.total_damage <= 30, 'badge badge-success' : this.house_info.total_damage <=20 }">{{this.house_info.total_damage}}</span></span> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <ng-container *ngIf="this.house_info">
                <span>
                  <strong>Адрес МКД:</strong>
                  {{ this.house_info.district_name }} район,
                  {{ this.house_info.address }}</span
                >
              </ng-container>
            </div>
            <div class="col-md-3">
              <mat-slide-toggle
                [ngStyle]="{ float: imageObject.length > 0 ? 'left' : 'right' }"
                labelPosition="before"
                (change)="OnChange($event)"
                [checked]="(this.settings$ | async).canEdit"
                >Режим правки</mat-slide-toggle
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- <button
                *ngIf="(this.settings$ | async).canEdit"
                (click)="saveAct()"
                mat-raised-button
                color="primary"
              >
                Сохранить
              </button> -->
            </div>
          </div>
        </div>
        <div *ngIf="imageObject.length > 0" class="col-md-3">
          <ng-image-slider
            style="width: 100%"
            [images]="imageObject"
            [animationSpeed]="0.3"
            [imageSize]="{ height: 140, space: 3 }"
            #nav
          ></ng-image-slider>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!(this.settings$ | async).menuPosition">
    <div class="col-md-12" style="position: absolute; max-width: 1110px">
      <app-topmenu
        [tepMenu]="tepMenu"
        [tepPart]="tepPart"
        [house_id]="house_id"
      ></app-topmenu>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" *ngIf="(this.settings$ | async).menuPosition">
      <app-sidemenu
        [tepMenu]="tepMenu"
        [tepPart]="tepPart"
        [house_id]="house_id"
      ></app-sidemenu>
    </div>
    <div
      [ngClass]="{
        'col-md-9': (this.settings$ | async).menuPosition,
        'col-md-12': !(this.settings$ | async).menuPosition
      }"
    >
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="title">Текущий ремонт</span>
        </div>
        <div class="panel-body"></div>
      </div>

      <!--  -->
      <div class="row" *ngIf="this.repairs">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-8">
                  <ng-container *ngIf="(this.settings$ | async).canEdit">
                    <button (click)="addRow()" mat-button>Добавить</button>
                    <ng-container *ngIf="selectedCell">
                      <button (click)="updateRow()" mat-button>Изменить</button>
                      <button (click)="delRow()" mat-button>Удалить</button>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="col-sm-1" style="margin-top: -0.5em">
                  <mat-form-field>
                    <mat-label>Год</mat-label>
                    <input
                      matInput
                      (keyup)="filterYaer($event)"
                      placeholder=""
                      #input
                      style="text-align: center"
                    />
                  </mat-form-field>
                </div>
                <div class="col-sm-3">
                  <mat-card style="float: left">
                    <mat-radio-group
                      [value]="filter"
                      (change)="filterTable($event)"
                    >
                      <mat-radio-button value="p">План</mat-radio-button>
                      <mat-radio-button value="f">Факт</mat-radio-button>
                    </mat-radio-group>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div style="padding: 14px 0 14px" class="panel-body">
                <div class="example-container">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container
                      *ngFor="
                        let cell of this.cellsCurrentRepairLists | keyvalue
                      "
                      [matColumnDef]="cell.key"
                    >
                      <th mat-header-cell *matHeaderCellDef>
                        {{ cell.value }}
                      </th>
                      <ng-container *ngIf="isNotSelect(cell.key); else select">
                        <td mat-cell *matCellDef="let element">
                          {{ element[cell.key] }}
                        </td>
                      </ng-container>
                      <ng-template #select>
                        <td mat-cell *matCellDef="let element">
                          {{ listElementValue(cell.key, element) }}
                        </td>
                      </ng-template>
                    </ng-container>
                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [id]="row.id"
                      (click)="selectCell(row.id)"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- <div style="padding: 14px 14px 14px" class="panel-body">
          <div class="example-container">
            <table mat-table [dataSource]="dataSource">
              <ng-container
                *ngFor="let cell of this.cellsCurrentRepairLists | keyvalue"
                [matColumnDef]="cell.key"
              >
                <th mat-header-cell *matHeaderCellDef>{{ cell.value }}</th>
                <ng-container *ngIf="isNotSelect(cell.key); else select">
                  <td mat-cell *matCellDef="let element">
                    {{ element[cell.key] }}
                  </td>
                </ng-container>
                <ng-template #select>
                  <td mat-cell *matCellDef="let element">
                    {{ listElementValue(cell.key, element) }}
                  </td>
                </ng-template>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                [id]="row.id"
                (click)="selectCell(row.id)"
              ></tr>
            </table>
          </div>
        </div>

        <div *ngIf="(this.settings$ | async).canEdit" class="button-row">
          <button mat-raised-button (click)="addRowData()">Добавить</button>
          <button
            mat-raised-button
            *ngIf="this.selectedCell"
            (click)="updateRowData()"
          >
            Изменить
          </button>
          <button
            mat-raised-button
            *ngIf="this.selectedCell"
            (click)="deleteRowData()"
          >
            Удалить
          </button>
        </div> -->
    </div>
  </div>
</div>
