.project-item-actions {
    justify-content: flex-start;
    flex: 0 1 5%;
}

.project-item-title {
    flex: 0 1 25%;
}

.project-item-title {
    flex: 0 1 40%;
}

.project-item-date {
    flex: 0 1 30%;
}

.fh-inline .custom-control-inline {
margin-right: 8rem;
}

.switch-button label {
    height: 23px;
    width: 23px;
}