<!-- <app-header></app-header> -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-divider">
      <div class="tools">
        <button
          mat-stroked-button
          style="height: 44px"
        >
          <mat-icon>insert_drive_file</mat-icon>
          <mat-icon>keyboard_arrow_up</mat-icon>
          Создать ТЭП
        </button>
      </div>
      Список ТЭП
      <span class="panel-subtitle"> Выберите фильтры для отображения ТЭП </span>
    </div>
  </div>
</div>

<!-- <app-newpassport (notify)="onNotify($event)"></app-newpassport> -->


<!-- <app-tepdelete
  [selected_id]="this.canEditRow$ | async"
  (notify)="onNotify($event)"
></app-tepdelete> -->
