<div id="accordion" class="accordion">
    <div class="card">
      <div id="headingDebug" class="card-header">
        <button data-toggle="collapse" data-target="#collapseDebug" aria-expanded="false" aria-controls="collapseDebug" class="btn"><span class="icon s7-angle-right"> </span>Отладочная панель</button>
      </div>
      <div id="collapseDebug" aria-labelledby="headingDebug" data-parent="#accordion" class="collapse" style="">
        <div class="card-block">
            <pre>{{ this.debugData }}</pre>
        </div>
      </div>
    </div>                        
</div>
